body {
    background-color: rgb(211, 235, 255);
    font-family: "Baskerville", "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

header {
    font-size:larger;
    border-style:solid;
    border-radius: 15px;
    background-color:  rgb(132, 168, 197);
}

header h1 {
position: relative;
left: 10;
}


header img {
    position: absolute;
    top: 0;
    right: 10;
    opacity: 0.5;
    height: 3cm;
    width: 3cm;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-style:solid;
    border-radius: 15px;
    background-color:  rgb(132, 168, 197);
}

.policy {
    position: relative;
    top: 200px;
    text-align: center;
    border: 3px;
    border-radius: 15px;
    border-style: solid;
    background-color: rgb(191, 255, 183);
}
