body {
    background-color: rgb(238, 240, 140);
    font-family: "Times New Roman", serif;
}

header {
    font-size:larger;
    border-style:solid;
    border-radius: 15px;
    background-color:  rgb(153, 255, 187);
}
header h1 {
    position: relative;
    left: 10;
}
header img {
    position: absolute;
    top: 0;
    right: 10;
    height: 3cm;
    width: 3cm;
}

nav {
    margin: 10 50 0 50;
    border-radius: 10px;
}
nav a {
    font-size: large;
    margin: 10;
    
}
nav a:hover{
    background-color: yellow;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-style:solid;
    border-radius: 15px;
    background-color:  rgb(153, 255, 187);
}

.policy {
    margin: 0 500 0 500;
    position: relative;
    top: 200px;
    border: 3px;
    border-radius: 15px;
    border-style: solid;
    text-align: center;
    background-color: rgb(191, 255, 183);
}

.information {
    position: absolute;
    margin: 150 0 0 500;
    border: 2px;
    padding: 10;
    border-radius: 15px;
    border-style: solid;
    background-color:  rgb(218, 162, 255);
}

form span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:inline-block;
    text-align:left;
    width: 150px;
    margin: 1px;
}
input {
    font-style: italic;
 }
.checkbox {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

 div.productDesc {
    text-align: center;
 }
 #submit, #clear{
    position: inherit;
    margin: 10 0 0 100;
 }